/* Section About */
#About {
    padding-top: 3rem; /* padding-top au lieu de margon-top pour gérer la couleur de fond*/
    background-color: var(--secondary-color);
}

.about-container {
    /*width: 100%;*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*.about-container p {
    margin-top: 1.5rem;
}*/

section #pictureLuckyLuke {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

section #pictureLuckyLuke img {
    width: 250px;
    border-radius: 50%;
}

section .friendLuckyLuke {
    margin-top: 1.5rem;
    padding-bottom: 1rem; /*padding plutôt que margin sinon pb avec couleur de fond*/
    display: flex;
    justify-content: space-around;
}

section .friendLuckyLuke img {
    margin:0 ;
    width: 50px;
    height: 80px;
    border-radius: 15%;
    object-fit: cover;
}