section#home {
    background-image: url("/pictures/Back_main_full.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh / 3 *2);
    background-position: right bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    section#home {
        height: 100vh;
    }
}

div.welcome {
    height: 90%;
    width: 90%;
    padding-top: 3rem;
    color: var(--secondary-color);
}

h1.lucky {
    text-align: center;
    letter-spacing: 4px;
    font-size: clamp(10px, 10rem, 10rem);
    font-weight: 800;
    color: var(--secondary-color);
    overflow-wrap: normal;
    text-shadow: black 4px 4px 8px;
}