nav.topMenu {
    background-color: var(--secondary-color);
    display: inline-flex;
    padding: 0.3rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav img {
    height: 2rem
}

nav span {
    display: block;
    width: 33px;
    height: 4px;
    margin: 5px;
    background: black;
    border-radius: 3px;
}