#pathway {
    text-align: center;
    background-color: var(--secondary-color);
    padding-top:3rem;    
}

.divider {
    width: 9.375rem;
    height: 0.125rem;
    margin: 1.25rem auto 1.25rem;
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1.5rem;
    
}
.picto {
    width: 9.375rem;
    height: 9.375rem; 
    background-image: url(/pictures/sheriff.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 32%;
    margin-bottom: 0.625rem; 
}

#pathway ul {
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-rows : 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin:1rem;
}


.timeline-heading .timeline-badge {
    background-image: url(/pictures/crosshair-target-interface.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.188rem;
    height: 2.188rem;
    margin-left: 10rem;
    margin-top: 0.313rem; 
}

.timeline-panel {
    max-height: 100%;
    padding-top: 3.75rem;
    padding-bottom: 9.688rem; 
    font-size: small;  
    
}
.timeline-panel-container {
   
    background-image: url(/pictures/chat-balloon.png);
    background-size: cover; 
    background-size: contain;
    background-repeat: no-repeat;
    
}
.timeline-panel-container-inverted {
    
    background-image: url(/pictures/chat-balloon-inverted.png);
    background-position: revert;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.timeline-body {
     line-height: 0.813rem;
     margin-top: -0.125rem;
}