* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;    
}

#skills {
    background-color:#f1ebc8 ;
}

.skills-header {
display: flex;
flex-direction: column;
list-style: none;
align-items: center;
justify-content: center;
}

.skills-title {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    gap : 0.4rem;
    margin: 1rem; 
}
.skills-title-line {
    background-image: url(../pictures/skills-banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
        }

.skills-title-gun{
    background-image: url(../pictures/gun.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.skills-details {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap : 1rem;
    margin: 2rem;

    }

.skills-details li {
    background-color: #c35450;
    border-radius: 50% 20% / 10% 40%;
    height: 100%;
    text-align: center;
    padding: 0.5rem;
    color:#f1ebc8;
}
.skills-tools-title {
    list-style: none;
    display: grid;
    grid-template-columns: 5fr 2fr 1fr;
    gap : 0.5rem;
    margin: 1rem;
}

.skills-tools-bullet {
    background-image: url(../pictures/tools-bullet.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.skills-details {
    list-style: none;

}

