
/* CSS file import */
@import url(_variables.css);
@import url(_global.css);
@import url(_home.css);

/*fonts import*/
@font-face {
    font-family: 'Lucky-Luke';
    src:url('/fonts/Lucky-Luke.ttf.woff') format('woff'),
        url('/fonts/Lucky-Luke.ttf.svg#Lucky-Luke') format('svg'),
        url('/fonts/Lucky-Luke.ttf.eot'),
        url('/fonts/Lucky-Luke.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}