
@import url(_variables.css);
@import url(_global.css);
@import url(_about.php);

@font-face {
    font-family: 'Lucky-Luke';
    src:url('/fonts/Lucky-Luke.ttf.woff') format('woff'),
        url('/fonts/Lucky-Luke.ttf.svg#Lucky-Luke') format('svg'),
        url('/fonts/Lucky-Luke.ttf.eot'),
        url('/fonts/Lucky-Luke.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
/* Section About */

body {
    background-color: var(--secondary-color);
}
#About {
    /* background: var(--secondary-color); */
    min-height: 80vh;
    width: 100%;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
    font-family: 'Lucky-Luke';
}

section #pictureLuckyLuke {
    display: flex;
    justify-content: center;
}

section #pictureLuckyLuke img {
width: 250px;
border-radius: 50%;
}